h1{
    text-align: center;
}
.arena{
    .layout(space-around, center);
    .column{
        width: 40%;
        text-align:center;
    .player-title{
        text-align: center;
        margin: 15px 0;
    }
    .roster{
        width: 100%;
        text-align: center;
        button{
            width: 20%;
            text-align: center;
            padding: 10px;
            border-radius: 2%;
            font-weight: bold;
        }
    }
 }
}